:root{
    --principal: #0079FF;
    --secundario: #5A96E3;
    --tercero: #A1C2F1;
    --titulo:'Titillium Web', sans-serif;
    --fuente:'Public Sans', sans-serif;
}
html{
    box-sizing: border-box; 
    font-size: 62.5%; 
}

*,*:before, *:after{
    box-sizing: inherit; /
}

body{
    font-family: var(--fuente);
    margin: 0;
    
}
.contenedor{
    width: min(90%,120rem); 
    margin: 0 auto;
}
/* ///////////////////// */
.mapa{
    background-image: url(img/World\ Map.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: grid;
    place-items: center;
}
.header{
    background-color: var(--principal);
}
.titulo{
    height: 16rem;
    font-size: 28px;
    color: #F9F5F6;
    margin: 0;
    text-align: center;
    font-family: var(--fuente);
    display: flex;
    justify-content: center;
    padding-top: 115px;
    padding-bottom: 10px;
}
.espacio{
    margin: -16rem auto 0 auto;
}

.container{
    -webkit-box-shadow: 0px 0px 39px 3px rgba(0,0,0,0.54);
    -moz-box-shadow: 0px 0px 39px 3px rgba(0,0,0,0.54);
    box-shadow: 0px 0px 39px 3px rgba(0,0,0,0.54);
    height: 550px;
    border-radius: 30px;
}
.grid{
    gap: 100px;
    height: 450px;
    padding-top:40px;
}

.campos{
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: 25% 50% 25%;
    place-items: center;
}
span{
    font-size: 30px;
    font-weight: 600;
    
}
input{
    width: 90%;
    height: 50px;
    border-radius: 5px;
    border: solid .1px #ECECEC;
    font-size: 23px;
}
@media (width < 712px ) {
    input{
        font-size: 18px;
    }
    span{
        font-size: 20px;
    }
    
}
.contenedor_boton{
    display: grid;
    place-items: center;
}
.transferencia{
    border-radius: 50%;
    font-size: 35px;
    background-color: transparent;
    width: 50px;
    padding: 5px;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    border: solid .1px #ECECEC;
    cursor: pointer;
    color: #0079FF;
}
/* i{
    color: #ECECEC;
} */
input::placeholder{
    font-size: 23px;
}
input:focus{
    outline: var(--principal);
}
.boton{
    width: 100%;
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    height: 40px;
    color: #F9F5F6;
    font-size: 20px;
    transition: .2s;
    border-radius: 10px;
}
.boton:hover{
    background-color: #2192FF;
    transition: .2s;
}
img{
    height: 10px;
}

select{
    cursor: pointer;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    border: solid .1px #ECECEC;
    font-size: 18px;
}
select:focus{
    outline: none;
}

.resultado{
    display: none;
}

.resultado_texto{
    font-size: 23px;
}
.cambio{
    font-size: 25px;
    padding: 13px;
}
@media (width < 712px ) {
    .cambio{
        font-size: 20px;
    }
}

.footer{
    background-color: var(--principal);
    margin-top: 50px;
    padding: 15spx 0;
    display: grid;
    place-items: center;
}

.redes{
    margin-bottom: 0;
}
.redes_titulo{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ECECEC;
}
.redes_enlace{
    gap: 70px;
    display: flex;
    justify-content: center;
}
.enlace{
    font-size: 45px;
    color: #ECECEC;
}
